{% block glavweb_uploader_dropzone_widget %}
    {# GLAVWEB:UPLOADER-DROPZONE #}
    <div class="glavweb-uploader-dropzone">
        <input type="hidden" name="_glavweb_uploader_request_id" value="{{ requestId }}">

        {% if useLink %}
            {% include 'GlavwebUploaderBundle:Form:view-link.html.twig' %}
        {% endif %}

        {# DZ #}
        <div class="dz ">
            {% if useForm %}
                {% include 'GlavwebUploaderBundle:Form:view-form.html.twig' %}
            {% endif %}

            {# PREVIEWS #}
            <div id="previews" class="previews clearfix">
                {% include uploadItemTpl with {'showMark': showMark} %}
                {% include uploadedFilesTpl with {'files': files} %}
            </div>
            {# //PREVIEWS #}
        </div>
        {# //DZ #}

    </div>
    {# //GLAVWEB:UPLOADER-DROPZONE #}

    {% block glavweb_uploader_dropzone_widget__madal_windows %}
        {% include 'GlavwebUploaderBundle:Form:view-modal-remove.html.twig' %}
        {% include 'GlavwebUploaderBundle:Form:view-modal-rename.html.twig' %}
        {% include 'GlavwebUploaderBundle:Form:view-modal-error.html.twig' %}
        {% include 'GlavwebUploaderBundle:Form:view-modal-error-format.html.twig' %}
    {% endblock %}

    {% block glavweb_uploader_dropzone_widget__stylesheet %}
        <link rel="stylesheet" href="{{ asset('plugins/fancybox/jquery.fancybox.css') }}" type="text/css" media="screen"/>
        <link rel="stylesheet" href="{{ asset('css/dropzone.css') }}" type="text/css" media="screen"/>

    {% endblock %}

    {% block glavweb_uploader_dropzone_widget__script %}
    {# JAVASCRIPT #}
        <script src="{{ asset('js/dropzone.min.js') }}"></script>

        <script type="text/javascript">
            var previewTemplate = $('#template').html();
            $('#template').remove();

            {% if useForm %}
            var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
                url: "{{ path('glavweb_uploader_upload', {context: type}) }}", // Set the url
                thumbnailWidth: 200,
                thumbnailHeight: 150,
                parallelUploads: 20,
                previewTemplate: previewTemplate,
                autoQueue: true, // Make sure the files aren't queued until manually added
                autoProcessQueue: true,
                previewsContainer: "#previews", // Define the container to display the previews
                clickable: "#file-upload", // Define the element that should be used as click trigger to select files.
                maxFilesize: 4,
                error: function(file) {
                    if (file.size > 4*1024*1024) {
                        $('#modalErrorFile').modal();
                        return false;
                    } else {
                        $('#modalErrorFormat').modal();
                        $(file.previewTemplate).addClass('hidden-upload-item');
                    }
                },
                complete: function(file) {
                    $('.js-article-preloader').addClass('hidden');
                    if (file.size > 4*1024*1024) {
                        $(file.previewTemplate).addClass('hidden-upload-item');
                        return false;
                    }
                }
            });


            myDropzone.on("sending", function (file, xhr, formData) {
                $('.js-article-preloader').removeClass('hidden');
                formData.append('_glavweb_uploader_request_id', '{{ requestId }}');
            });


            myDropzone.on("success", function (file, response) {
                file.response = response;
                $(file.previewTemplate).attr('data-id', response.id);
                $(file.previewTemplate).attr('data-src', response.contentPath);
                $(file.previewTemplate).attr('id', 'dz-preview-' + response.id);
                //$(file.previewTemplate).find('.dz-filename span').text('');

            });

            myDropzone.on("removedfile", function (file) {
                var id = file.response.id;

                if (id !== undefined) {
                    url = "{{ deleteUrl }}";
                    $.post(url, {
                        id: id,
                        request_id: "{{ requestId }}"
                    });
                }
            });
            {% endif %}

            $(document).ready(function () {

                // rename
                $('#previews').on('click', '.dz-rename', function () {
                    var preview = $(this).closest('.dz-preview');
                    var fileId = preview.data('id');
                    var name = preview.find('.dz-filename').text().trim();
                    var description = preview.find('.dz-description').text().trim();

                    $('#fileName').val(name);
                    $('#description').val(description);
                    $('.do-rename-file').data('file-id', fileId);
                    $('#modalRenameFile').modal();
                });

                $('.do-rename-file').click(function () {
                    var button = $(this);
                    var fileId = button.data('file-id');

                    if (fileId) {
                        url = "{{ renameUrl }}";
                        name = $('#fileName').val();
                        description = $('#description').val();

                        $.post(url, {
                            id: fileId,
                            request_id: "{{ requestId }}",
                            name: name,
                            description: description
                        }, function (response) {
                            if (response.success) {
                                var preview = $('#dz-preview-' + fileId);
                                preview.find('.dz-filename span').text(name);
                                preview.find('.dz-description span').text(description);
                            }
                        });
                    }

                    $('#modalRenameFile').modal('hide');
                });

                $('#previews').on('click', '.dz-remove', function () {
                    var preview = $(this).closest('.dz-preview');
                    var fileId = preview.data('id');

                    $('.do-remove-file').data('file-id', fileId);

                    $('#modalRemoveFile').modal();
                });

                $('.do-remove-file').click(function () {
                    var button = $(this);
                    var fileId = button.data('file-id');

                    if (fileId) {
                        url = "{{ deleteUrl }}";
                        $.post(url, {
                            id: fileId,
                            request_id: "{{ requestId }}"
                        }, function (response) {
                            if (response.success) {
                                var preview = $('#dz-preview-' + fileId);
                                preview.remove();
                            }
                        });
                    }

                    $('#modalRemoveFile').modal('hide');
                });
                $('#modalErrorFile').modal('hide');

                $('#previews').on('click', '.dz-remove', function () {
                    var preview = $(this).closest('.dz-preview');
                    var fileId = preview.data('id');

                    $('.do-remove-file').data('file-id', fileId);


                });


                {% if useLink %}
                $('.uploadlink-button').click(function () {
                    var value = $('.uploadlink').val();
                    var button = $('.uploadlink-button');
                    var uploadDir = '{{ uploadDir }}';

                    if (value) {
                        button.button('loading');
                        $.ajax('{{ path('glavweb_uploader_uploadlink', {context: type}) }}', {
                            'data': {
                                'file_link': value,
                                '_glavweb_uploader_request_id': '{{ requestId }}'
                            },
                            'dataType': 'json',
                            // 'async': false,
                            'complete': function (response) {
                                var json = response.responseJSON;

                                if (response.status == 200) {
                                    $('.uploadlink').val('');

                                    var fileId = json['id'];
                                    var thumbnailPath = json['thumbnail_path'];
                                    var name = json['name'];

                                    var template = $(previewTemplate);

                                    template.find('.dz-filename span').text(name);
                                    template.find('.dz-details').parent().attr('data-id', fileId);
                                    template.find('.dz-details').parent().attr('id', 'dz-preview-' + fileId);

                                    if (thumbnailPath) {
                                        template.find('.dz-details img').attr('alt', name);
                                        template.find('.dz-details img').attr('src', uploadDir + '/' + thumbnailPath);
                                    }

                                    $('#previews').append(template);
                                    $('.dz').show();

                                } else if (json['error'] !== undefined) {
                                    alert(json['error']);

                                } else {
                                    alert('При загрузке произошла ошибка.');
                                }
                                $("#previews").scrollTop($("#previews")[0].scrollHeight);
                                button.button('reset');
                            }
                        });
                    }
                });
                {% endif %}

            });
        </script>
    {# //JAVASCRIPT #}
    {% endblock %}

{% endblock %}
